/.vs/Lasmart/DesignTimeBuild/.dtbcache.v2
/.vs/Lasmart/FileContentIndex/6e96ff58-98eb-4dd3-a6ad-7df2582e838a.vsidx
/.vs/Lasmart/FileContentIndex/056e0de8-6a85-4bae-97a1-dd8b44b6e4e5.vsidx
/.vs/Lasmart/FileContentIndex/73b557fc-986a-437f-833c-917dcd38e0ed.vsidx
/.vs/Lasmart/FileContentIndex/955dfab6-9e77-4c7a-bae7-5f9cce5bc24a.vsidx
/.vs/Lasmart/FileContentIndex/dd6b283b-a61b-46d2-a018-d47a6a45239e.vsidx
/.vs/Lasmart/FileContentIndex/read.lock
/.vs/Lasmart/v17/.futdcache.v2
/.vs/Lasmart/v17/.suo
/.vs/Lasmart/v17/fileList.bin
/.vs/ProjectEvaluation/lasmart.metadata.v5.2
/.vs/ProjectEvaluation/lasmart.projects.v5.2
